{% extends 'template.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="wrapper">
        {% for item in watch %}
            <div class="item animate__animated animate__fadeIn">
                <a class="shop-item" href="{% url 'watch-detail' item.id %}">
                    <div class="img-block">
                        <img src="{{ item.image.url }}" alt="">
                    </div>
                    <div class="info-block">
                        <h3>{{ item.name }}</h3>
                        <h5>Цвет {{ item.color }}</h5>
                        <p>Цена {{ item.price }}</p>
                    </div>
                </a>
                <button class="add-cart">В корзину</button>
            </div>
        {% endfor %}
    </div>

{% endblock %}